# Dependencies
node_modules/
.pnpm-store/

# Production build outputs
dist/
build/
out/
.next/

# Local environment configurations / API keys
.env
.env.local
.env.development.local

# IDE and OS files
.vscode/
.idea/
Thumbs.db
.DS_Store
